<div class="categories-header">

  <%= render "shared/mobile_menu" %>

  <div>CATEGORY</div>

  <%= link_to authenticated_root_path do %>
    <i class="material-icons">search</i>
  <% end %>
</div>

<div class="most-recent">
  <p>Most recent</p>
  <h3>.</h3>
</div>

<div class="cate-container">
  <% @groups.each do |group| %>
    <% if current_user.id == group.author_id %>
      <%= link_to user_group_path(group.author, group) do %>
        <div class="cate">
          <div><%= image_tag group.icon %></div>
          <div class="cate-data-container">
            <p class="cate-name"> <%= group.name %> </p>
            <p class="cate-time"> <%= group.created_at.strftime("%d %b %Y") %> </p>
          </div>
          <div> <p class="cate-amount"> $<%= group.expenses.sum(:amount) %> </p></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="create-new-category"><%= link_to "Add New Category", new_user_group_path(@user) %></div>


