<div class="categories-header">
  <div class="mobile-menu">
      <%= image_tag("hamburger.png", :alt => "Menu", :class => "ham") %>
    <nav class="menu">
      <% if current_user %>
        <ul class="menu-ul">
          <li class="close-x">&#10006;</li>
          <li class="menu-name">
            <i class="material-icons">account_circle</i>
            <p><%= current_user.name %><?p>
          </li>
          <li class="menu-li"> 
             <i class="material-icons">settings</i>
             <%= link_to "Edit Account", edit_user_registration_path %>
          </li>
          <li class="menu-li"> 
            <i class="material-icons">exit_to_app</i>
             <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      <% end %>
    </nav>
  </div>

  <div> NEW CATEGORY</div>

  <%= link_to authenticated_root_path do %>
    <i class="material-icons">search</i>
  <% end %>
</div>

<div class = "login-body">
  <%= form_with model: @group, url: user_groups_path do |form| %>
    <div class="field">
      <%= form.text_field :name,   placeholder: "Name" %>
    </div>

    <div class="field">
      <%= form.text_field :icon, placeholder: "Icon link" %>
    </div>

    <%= form.submit "Create Category", class: "splash-button create-category" %>
  <% end %>
</div>

<div class="new-cat"><%= link_to "Back to categories",  authenticated_root_path %></div>
